@CHARSET "UTF-8";

.mainContent {
	width: 100%;
}

.toolbarBox {
	position: absolute;
	background-color: #EEEEEE;
	border: 1px solid #1570a6;
}

.closeQuery {
	height: 20px;
	text-align: center;
	cursor: pointer;
}

.pageBox {
	text-align: center;
	bottom: 0px;
}

.pageBox .page {
	cursor: default;
	margin-left: 2px;
	margin-right: 2px;
}

.pageBox .pageA {
	cursor: pointer !important;
}

.navbar-brandText {
	color: #FFFFFF;
	font-family: 微软雅黑;
	font-size: 22px;
	line-height: 40px;
	margin-left: 10px;
}

.page-title1 {
	font-family: 微软雅黑;
}

.toolbarBox .queryLine:nth-child(even) {
	background-color: #FFFFFF;
}

.queryLine {
	padding-top: 2px;
	padding-bottom: 2px;
}

.queryTitle {
	font-family: 微软雅黑;
}

.queryLine>div {
	margin-left: 5%;
	width: 90%;
	text-align: left;
}

.queryLine input:read-only {
	cursor: pointer;
}

.halfWidth {
	width: 48%;
	display: inline;
}

.middleSpan {
	margin-left: 6px;
	margin-right: 6px;
}

.role>span {
	display: inline;
	color: #000000;
	border: 1px solid #4d90fe;
	background-color: #FFFFFF;
	cursor: pointer;
	line-height: 24px;
	word-break: keep-all;
	padding: 0 2px 0 2px;
	margin: 0 0 0 4px;
	font-size: 13px !important;
}

.msgTable {
	width: 100%;
	display: table;
}

.msg {
	font-size: 20px;
	cursor: default;
	display: table-row;
	border-collapse: collapse;
}

.msgItem1 {
	display: table-cell;
}

.msgItem2 {
	width: 150px !important;
	display: table-cell;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.msgItem3 {
	width: 120px !important;
	display: table-cell;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.msgItem4 {
	width: 56px !important;
	display: table-cell;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.msgItem5 {
	width: 56px !important;
	display: table-cell;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.msgHeader {
	text-align: center;
	background-color: #1570a6 !important;
	font-family: 微软雅黑;
	color: #FFFFFF;
}

.msgTable .msg:nth-child(odd) {
	background-color: #EEEEEE;
}

.msgTable .msg:nth-child(even) {
	background-color: #FFFFFF;
}

#openMsg {
	font-size: 18px;
}

#msgBox>div:nth-child(odd) {
	background-color: #EEEEEE;
}

#msgBox>div:nth-child(even) {
	background-color: #FFFFFF;
}

.msgTitle {
	font-family: 微软雅黑;
}

#goback {
	text-align: center;
}

.uploadTitle {
	font-family: 微软雅黑;
	display: block;
	background-color: #EEEEEE;
}

#uploadBox>div {
	padding: 2px 0 2px 0;
	background-color: #FFFFFF;
}

.uploadButton {
	text-align: center;
}

.uploadItem {
	width: 90%;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
}

.searchBox {
	width: 75%;
	display: inline;
}

.userTable {
	display: table;
	width: 100%;
	font-size: 20px;
	margin-top: 10px;
}

.userRow {
	display: table-row;
	border-bottom: 2px solid #FFFFFF;
	line-height: 34px;
}

.userTable .userRow:NTH-CHILD(odd) {
	background-color: #FFFFFF;
}

.userTable .userRow:NTH-CHILD(odd) {
	background-color: #EEEEEE;
}

.userItem1 {
	display: table-cell;
	width: 30%;
	border-left: 2px solid #FFFFFF;
}

.userItem2 {
	display: table-cell;
	width: 10%;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.userItem3 {
	display: table-cell;
	width: 26%;
	border-left: 2px solid #FFFFFF;
	font-size: 17px;
}

.userItem4 {
	display: table-cell;
	width: 11%;
	text-align: center;
	border-left: 2px solid #FFFFFF;
	font-size: 17px;
}


.userHeader {
	background-color: #1570a6 !important;
	font-family: 微软雅黑;
	color: #FFFFFF;
	text-align: center;
}

.dialogueBox {
	position: fixed;
	top: 20%;
	left: 20%;
	width: 60%;
	max-height: 60%;
	border: 3px solid #ccc;
	background-color: white;
	z-index: 2;
	overflow: auto;
	display: none;
}

.dialogueHeader {
	width: 100%;
	height: 40px;
	font-size: 20px;
	vertical-align: middle;
	background-color: #1570a6;
	color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
}

.dialogueHeader span {
	line-height: 30px;
	display: inline-block;
}

.dialogueHeader span i {
	line-height: 30px;
	display: block;
}

.dialogueClose {
	float: right;
	cursor: pointer;
}

.dialogueBody {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dialogueFooter {
	text-align: center;
	padding-bottom: 10px;
}

.mask {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 88);
}

.formLine {
	display: flex;
	width: 100%;
}

.formDiv {
	display: flex;
	overflow: hidden;
	flex: 1;
}

.formDiv span {
	margin: 10px;
}

.formDiv span:first-of-type {
	display: inline-block;
	width: 75px;
	line-height: 34px;
}

.formDiv span:last-of-type {
	flex: 1;
}

.formDiv span i {
	color: #FF0000;
}

.formDiv span a {
	line-height: 34px;
}

.msgTable .msg:nth-child(odd) {
	background-color: #EEEEEE;
}

.msgTable .msg:nth-child(even) {
	background-color: #FFFFFF;
}

.infoMethod {
	background-color: #1570a6;
	font-family: 微软雅黑;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
}

.infoMethod ~ div {
	font-family: 微软雅黑;
	font-size: 18px;
	background-color: #FFFFFF;
	margin-top: 2px;
	margin-bottom: 2px;
}

.infoMethod ~ div>span {
	display: block;
	width: 100%;
}

.infoMethod ~ div>span:nth-child(1) {
	background-color: #EEEEEE;
}

.infoMethod ~ div>span:nth-child(1) ~ span {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 宋体;
	font-size: 18px;
}

.infoButton {
	text-align: center;
}

.infoButton button {
	display: inline;
}

.code {
	background-color: #1570a6;
	font-family: 微软雅黑;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 20px;
}

.code .item {
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 0px;
	padding-left: 5%;
	padding-right: 5%;
}

.code .item span {
	cursor: pointer;
}

.code .item:nth-child(even) {
	background-color: #EEEEEE;
}

.code .item:nth-child(odd) {
	background-color: #FFFFFF;
}

.code input {
	height: 22px;
}

.code .head {
	cursor: pointer;
}

.noticeNew {
	color: red;
	display: none;
}